[LOGIN CREDENTIALS]
homeserver = https://example.domain
user_id = @example:domain_name.domain
password = example

[LOGGING]
filename = <dir/filename.log>
when = midnight
interval = 1
backupCount = 10
encoding = utf-8

[INVITE]
allow_users = @good_user1:spammers.com @good_user2:matrix.org
allow_domains = *
deny_users = @baduser:matrix.org @baduser2:tt.net
deny_domains = spammers.com spammers2.net