[LOGIN CREDENTIALS]
homeserver = https://example.domain
user_id = @example:domain_name.domain
password = example

[LOGGING]
filename = <dir/filename.log>
when = midnight
interval = 1
backupCount = 10
encoding = utf-8